* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* font-family: "Roboto", sans-serif;  */
   /* border: 2px solid red; */
}


/* nav start  */

.nav_parent {
   width: 100%;
   height: auto;
   background-color: #c38cb5;
   padding: 10px;

}

.nav_wrapper {
   max-width: 1200px;
   height: auto;
   margin: auto;
}

.nav_element_wrapper {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.nav_button{
   margin: 10px;
   display: none;
   height: 40px;
   width: 40px;
}



.logo {
   height: 80px;
   width: 80px;
}

.logo img {
   width: 100%;
   height: 100%;
   object-fit: contain;

}

.link_wrapper {
   padding: 10px 0px;
   margin: 15px 0px;
}


.link_wrapper>li {
   list-style: none;
   display: flex;
   gap: 30px;

}

.link_wrapper>li ul a {

   text-decoration: none;
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   font-size: 20px;
   color: white;
   cursor: pointer;
}


.link_wrapper>li ul a:hover{
   background-color: green;
   border-bottom: 2px solid red;
   padding-bottom: 2px;
}

.link_wrapper>li ul i{
   color: white;
   padding: 0px 2px;
}

#cartCount{
   position: absolute;
   background-color: red;
   color: white;
   font-family: "Roboto", sans-serif;
   width: 20px;
   height: 20px;
   margin-top: -10px;
   border-radius: 10px;
   text-align: center;

}





.search_wrapper {
   margin: 15px 0px;
   padding: 10px 0px;
   display: flex;
   gap: 10px;

}

.search_wrapper input {
   border: none;
   border-radius: 10px;
   font-family: "Roboto", sans-serif;
   padding: 10px;
   font-size: 15px;
   width: 200px;
   height: 30px;

}

.search_wrapper a {
   text-decoration: none;
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   font-size: 20px;
   color: white;
   cursor: pointer;
}


@media(max-width:992px) {

   .search_wrapper{
      display: none;
   }

   .link_wrapper>li {
      display: flex;
      /* flex-direction: column; */
      gap: 60px;
   
   }
   
}


@media(max-width:768px){

   .link_wrapper>li {
      /* flex-direction: column;
      left: 0;
      margin: 17px 0px;
      position: absolute;
      background-color: #c38cb5;
      width: 100%;
      height: 30%;
      padding:44px 20px; */
      padding: 0px 20px;

      
   }

   #myNav{
      display: none;
   }

  

   
   .option_img{
      margin-top: 10px;
      display: block;
   }

   .nav_button{
      display: block;
   }
   

}

@media(max-width:576px){
   .link_wrapper>li{
      width: 100%;
   }

   .logo{
      display: none;
   }
}

/* nav end  */



/* hero start  */

.hero_parent {
   width: 100%;
   height: auto;
   padding: 20px 10px;
   background-color: aquamarine;

}

.hero_wrapper {
   max-width: 1200px;
   margin: auto;
   height: auto;
}

.hero_element_wrapper {
   display: flex;
   flex-wrap: wrap;

}

.hero_element_wrapper>.hero_wrapper_first {
   width: 50%;
   height: auto;
}

.hero_wrapper_first h1 {
   font-family: "Roboto", sans-serif;
   font-weight: 600;
   font-size: 40px;
   width: 60%;
   margin: 20px 0px;
   letter-spacing: 5px;
   letter-spacing: 3px;
   color: black;

}

.hero_wrapper_first p {
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   font-size: 25px;
   margin: 30px 0px;
   padding: 10px 0px;
   color: rgb(16, 135, 238);

}

.hero_wrapper_first a {
   text-decoration: none;
   background-color: hsl(336, 97%, 50%);
   padding: 10px 20px;
   cursor: pointer;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   border-radius: 10px;
   color: white;
   font-size: 20px;

}




.hero_element_wrapper>.hero_wrapper_sec {
   width: 50%;
   height: auto;
}

.hero_img {
   width: 100%;
   height: 100%;
   
}

.hero_img img {
   height: 100%;
   width: 100%;
   object-fit: cover;
}


@media(max-width:992px){

   .hero_element_wrapper>.hero_wrapper_first{
      width: 100%;

   }

   .hero_element_wrapper>.hero_wrapper_sec{
      width: 100%;
   }

   .hero_img{
      margin-top: 40px;
   }

   .hero_wrapper_first p{
      width: 70%;
   }
   .hero_img{
      padding: 30px 10px;
   }


}
@media(max-width:768px){
   .hero_wrapper_first h1{
      width: 100%;
   }

   .hero_wrapper_first p{
      width: 100%;
   }

}





/* hero end  */



/* product start  */

.product_parent {
   width: 100%;
   height: auto;
   margin: 20px 0px;
   padding: 10px;
}

.product_wrapper {
   max-width: 1200px;
   height: auto;
   margin: auto;
}



.product_element_wrapper{
   width: 100%;
   height: auto;

}

.product_element_wrapper h1{
   text-align: center;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   padding: 10px 0px;
   font-size: 35px;
   margin: 20px 0px;
}


.cart_wrapper_group{
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;

}

.cart{
   width: 25%;
   height: auto;
   display: flex;
   flex-direction: column;
   padding: 10px 10px;
   box-shadow: 10px -16px 22px -17px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px -16px 22px -17px rgba(0,0,0,0.75);
-moz-box-shadow: 10px -16px 22px -17px rgba(0,0,0,0.75);
}

.cart_img{
   width: 100%;
   height: 100%;
}

.cart_img > img{
   width: 100%;
   height: 100%;
   object-fit: fill;
}

.cart> table{
   width: 80%;
   align-items: center;
   margin: 10px 0px;
}



.cart > table tr td  {
   font-family: "Roboto", sans-serif;
   font-size: 15px;
   font-weight: 200;
   font-weight: 300;


}


.cart button{
   background-color: #c38cb5;
   color: aliceblue;
   font-family: "Roboto", sans-serif;
   font-size: 15px;
   font-weight: 300;
   border: 20px;
   padding: 10px;
   text-align: center;
   text-decoration: none;
   cursor: pointer;


}
.cart button:hover{
   background-color: green;


}

.addtocart_wrapper{
   width: 30%;
   padding-left: 20px;
   margin-top: -120px;

}

.addtocart_wrapper h1{
   width: 100%;
   padding: 10px 10px;
   text-align: center;
   font-family: "Roboto", sans-serif;
   font-size: 15px;
   font-weight: 400;
   background-color: rgb(244, 184, 3);
   color: white;
}

.addtocart_img{
   width: 50px;
   height: 50px;
}

.addtocart_img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}


.addtocartline{
   width: 50%;
   height: 3px;
   background-color: rgb(244, 184, 3) ;
}


.addtocart_wrapper > p{
   padding: 10px 10px;
   text-align: center;
   font-family: "Roboto", sans-serif;
   font-size: 12px;
   font-weight: 400;
   text-align: center;
   margin: 10px 0px;


}


.addtocart_wrapper > p:last-child{
   padding: 10px 0px;
   text-align: start;

}


@media(max-width:992px){
   .product_parent{
      margin: 10px 0px;
   }
   .cart_wrapper_group{
      width: 100%;
   }


   .addtocart_wrapper{
      display: none;
   }





   .cart{
      width: 25%;
   }
   
}

@media(max-width:768px){
  

   .cart{
      width: 50%;
   }
   
}

@media(max-width:576px){
  

   .cart{
      width:100%;
   }
   
}





/* product end  */



/* show cart start  */

.show_cart_parent{
   width: 100%;
   height: auto;
   margin: 10px 0px;
   padding: 10px 0px;
}

.show_cart_wrapper{
   max-width: 1200px;
   margin: auto;
}

.show_cart_element{
   width: 100%;
   height: auto;
}

.show_cart_group{
   display: flex;
   flex-wrap: wrap;
   

}

.show_cart{
   width: 22%;
   margin: 10px;
   padding: 10px 0px;
   height: auto;
   box-shadow: -1px -3px 10px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 10px 0px rgba(0,0,0,0.75);
}

.show_cart_wrapper  h1{
   width: 100%;
   text-align: center;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   letter-spacing: 1px;
   margin: 20px 0px;
   padding: 10px 0px;
   border-bottom: 5px solid #c38cb5;

}
.show_cart > h3{
   text-align: center;
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   letter-spacing: 1px;
   word-spacing: 0.5px;
   padding: 10px 0px;

}

.show_cart_img{
   width: 150px;
   height: 150px;
   margin: auto;

}

.show_cart_img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}


@media(max-width:992px){
   .show_cart{
      width: 30%;
      height: auto;
   }

}

@media(max-width:778px){
   .show_cart{
      width: 46%;
      height: auto;
   }

   .show_cart_group{
      justify-content: center;
      
   }

}

@media(max-width:576px){
   .show_cart{
      width: 80%;
      height: auto;
   }




}



/* show cart end  */


/* chekout start  */

.checkout_parent{
   width: 100%;
   height: auto;
   margin: 10px 0px;
   padding: 10px 0px;
}

.checkout_wrapper{
   width: 1200px;
   margin: auto;
}


.checkout_element{
   width: 100%;
   height: auto;
}

.checkout_nav{
   display: flex;
   justify-content: space-between;
   padding: 10px 10px;
}

.checkout_nav h1{
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   font-size: 25px;
   letter-spacing: 0.5px;
   margin: 10px 0px;
}

.check_icon_group{
   display: flex;
   gap: 20px;
}

.tp_wrapper{
   width: 100%;
   height: auto;
   display: flex;
   flex-wrap: wrap;
   
}

.table_parent{
   width: 70%;
   height: auto;
   padding: 10px 20px;
}

.table_parent > h2{
   font-family: "Poppins", sans-serif;
   font-weight: normal;
   font-size: 20px;
   letter-spacing: 0.5px;
   padding: 10px 0px;
   margin: 10px 0px;

}

.table_parent  table tr  th{
   font-family: "Poppins", sans-serif;
   font-weight: normal;
   font-size: 17px;
   padding: 0px 10px;

}

.table_parent  table tr  td{
   font-family: "Poppins", sans-serif;
   font-weight: normal;
   font-size: 17px;
   padding: 0px 10px;
   


}
.table_parent table{
   width: 100%;
   height: auto;
}


.table_parent table tr:first-child{
   /* background-color: red; */
   padding: 10px 0px;
}


.table_parent  table tr  th:first-child{
   float: left;
}

.table_parent  table tr  td:first-child{
   display: flex;

   
}
.img_info{
   margin: 20px 10px;
   display: flex;
   flex-direction: column;
   
}

.img_info > h4{
   font-family: "Poppins", sans-serif;
   font-weight: normal;
   font-size: 15px;
   font-weight: 600;

}

.img_info > p{
   font-family: "Poppins", sans-serif;
   font-weight: normal;
   font-size: 12px;
   font-weight: 300;
}



.table_parent  table tr  td input{
   width: 40px;
   height: 30px;
   padding: 2px;
   border: none;
   font-family: "Poppins", sans-serif;
   font-weight: normal;
   font-size: 12px;
   margin: 0px 10px;


}


td >.deletebutton{
   padding: 5px 10px;
   background-color: red;
   border: none;
   border-radius: 5px;
   cursor: pointer;

}





.product_img{
   width:80px;
   height:80px;
   margin: 10px  0px;
}
.product_img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
}

.table_parent > p{
   float: right;
   font-family: "Poppins", sans-serif;
   font-weight: normal;
   font-size: 17px;
   padding: 0px 10px;
}


.payment_parent{
   width: 30%;
   background-color: black;
   border-radius: 20px;
   padding: 20px 20px;
   display: flex;
   flex-direction: column;
}

.payment_parent h1{
   color: white;
   font-family: "Poppins", sans-serif;
   font-weight: normal;
   font-size: 18px;
   /* margin: 5px 0px; */
   letter-spacing: 0.5px;
   

}
.payment_parent p{
   color: white;
   font-family: "Poppins", sans-serif;
   font-weight: normal;
   font-size: 14px;
   /* margin: 10px 0px; */

}
.stribe_button{
   padding: 10px 20px;
   background-color: white;
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-size: 14px;
   border-radius: 10px;
   margin: 10px 0px;
   border: none;
   cursor: pointer;
}

.payment_line{
   background-color: green;
   width: 100%;
   height: 1px;
   margin: 10px 0px;
}

.payment_parent label{
   color: white;
   width: 100%;
   margin: 10px 0px;
}

.payment_parent input{
   background-color: black;
   color: white;
   /* border-bottom: white; */
   border: none;
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-size: 14px;
}

.payment_parent > button{
   width: 100%;
   height: 35px;
   background-color: rgb(35, 35, 254);
   color: white;
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-size: 14px;
   margin: 10px 0px;
   border-radius: 10px;
   border: none;
   cursor: pointer;
}









/* checkout end  */











